﻿@{
    ViewBag.Title = "Home Page";
}
@using System.Configuration
<head> </head>
@*<div class="jumbotron">
    <h1>Pizza Test APP</h1>
    
   <p><font color="white">.</font></p>
</div>*@
<p><font color="white">.</font></p>
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner active">
        <div class="active item">
            <img src="~/Content/Deal1.jpg" width="1300" height="650"/>
        </div>
        <div class="item">
            <img src="~/Content/Deal2.jpg" width="1300" height="650"/>
        </div>
        <div class="item">
            <img src="~/Content/Deal3.jpg" width="1300" height="650" />
        </div>
        @*<div class="item">
            <img src="~/Content/images/ads/banner4.jpg" />
        </div>*@
    </div>
     @*Carousel nav -> toont navigatie pijlen op slider*@
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>

@*<div class="row">
    <div class="col-md-4">

 <img src="~/Content/Deal1.png" />

                </div>
    </div>*@
