﻿@model TestApp.Models.ORDER_HISTORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ORDER_HISTORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORDER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTALCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTALCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.NAME)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
