﻿@model IEnumerable<TestApp.Models.ORDER_HISTORY>

@{
    ViewBag.Title = "Index";
}

<h2>Order History</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALCOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (Session["CustomerId"].ToString() == item.CUSTOMER_ID)
        {
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTALCOST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_DATE)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ORDER_HISTORY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ORDER_HISTORY_ID })
        </td>
        }
    </tr>
}

</table>
@{string id = Session["CustomerId"].ToString(); }
<h3><a class="btn btn-info" href="http://localhost:62750/CUSTOMERs/Edit/@id">Change Personal Details</a></h3>

