﻿@model IEnumerable<TestApp.Models.MAIN_ORDER>


@using System.Configuration
<h2>Your order has been placed</h2>


@*@foreach (var item in Model)
{
    if (item.CUSTOMER_ID == Session["CustomerId"].ToString())
    {
        <center> Your Verification Code is:  </center>
        <center color="blue">
            <h3>@item.VERIFICATION_CODE.ToString();</h3>
        </center>
                <center>Please give this code to the delevery once arrived</center>
                <center>Order Tracking</center>*@

                <a class="btn btn-info" href="http://localhost:62750/MAIN_ORDER/Track">Track your Order</a>

    @*}
}*@
        @{string Y = "Y";
            Session["Track"] = Y;}
        @*}
    catch (NullReferenceException )
    {

    }*@
        @*<div class="feat_prod_box_details">

        <div class="contact_form">
            <div class="form_subtitle">Order Information</div>

            <div class="from_row">
                <label class="contact"><strong>Transaction Id:</strong></label>
                @ViewBag.result.TransactionId
            </div>

            <div class="from_row">
                <label class="contact"><strong>First Name:</strong></label>
                @ViewBag.result.PayerFirstName
            </div>

            <div class="from_row">
                <label class="contact"><strong>Last Name:</strong></label>
                @ViewBag.result.PayerLastName
            </div>

            <div class="from_row">
                <label class="contact"><strong>Email:</strong></label>
                @ViewBag.result.PayerEmail
            </div>

            <div class="from_row">
                <label class="contact"><strong>Payment Gross:</strong></label>
                @ViewBag.result.GrossTotal
            </div>

            <div class="from_row">
                <label class="contact"><strong>Payment Fee:</strong></label>
                @ViewBag.result.PaymentFee
            </div>



        </div>
    </div>*@
