﻿@model IEnumerable<TestApp.Models.MAIN_ORDER>


<h2>Verification</h2>
@Html.AntiForgeryToken()

@foreach (var item in Model)
{
    if (item.CUSTOMER_ID == Session["CustomerId"].ToString())
    {
        <b> Your Verification Code is:  @item.VERIFICATION_CODE.ToString();</b>
        <b>Please give this code to the delevery once arrived</b>
    }
}
