﻿@model TestApp.Models.ITEM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ITEM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_PICTURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_PICTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGRIDIENT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGRIDIENT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITEM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
