﻿@model IEnumerable<TestApp.Models.ITEM>


@{
    ViewBag.Title = "Index";
}

@*<div class="alert alert-info alert-autocloseable-info">
    I'm an autocloseable info message. I will hide in 6 seconds.
</div>
<button id="autoclosable-btn-info" class="btn btn-primary btn-info btn-block">
    Autocloseable message info
</button>*@
<div class="row">
    

@foreach (var item in Model)
{
    TestApp.Models.ITEM_SIZE Iz = new TestApp.Models.ITEM_SIZE();


    if (Request.Url.AbsoluteUri == "http://localhost:62750/ITEMs/Index/1")
    {

        if (item.ITEM_TYPE == "PIZZA")
        {



                <div class="col-md-3">
                    <div class="thumbnail1">
                        <div class="caption1">
                            <h4>@item.ITEM_NAME</h4>
                            <p>@item.INGREDIENT</p>
                            <p>
                               
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.SMALL_ID" class="label label-default" rel="tooltip" title="@item.SMALL_PRICE £">Small</a>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.MEDIUM_ID" class="label label-default" rel="tooltip" title="@item.MEDIUM_PRICE £">Medium</a>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.LARGE_ID" class="label label-default" rel="tooltip" title="@item.LARGE_PRICE £">Large</a>                                @*<a href="" class="label label-default" rel="tooltip" title="Download now">Download</a>*@
                            </p>
                        </div>
                        <img src="~/Content/@(item.ITEM_ID).png" alt="..." width="250" height="250">
                    </div>
                </div>

        }

    }
    else if (Request.Url.AbsoluteUri == "http://localhost:62750/ITEMs/Index/2")
    {
        if (item.ITEM_TYPE == "DESERT")
        {
                <div class="col-md-3">
                    <div class="thumbnail1">
                        <div class="caption1">
                            <h4>@item.ITEM_NAME</h4>
                            <p>@item.INGREDIENT</p>
                            <p>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.SMALL_ID" class="label label-default" rel="tooltip" title="@item.SMALL_PRICE £">Add</a>                                @*<a href="" class="label label-default" rel="tooltip" title="Download now">Download</a>*@
                            </p>
                        </div>
                        <img src="~/Content/@(item.ITEM_ID).png" alt="..." width="200" height="200">
                    </div>
                </div>
        }
    }
    else if (Request.Url.AbsoluteUri == "http://localhost:62750/ITEMs/Index/3")
    {
        if (item.ITEM_TYPE == "SIDE")
        {
                <div class="col-md-3">
                    <div class="thumbnail1">
                        <div class="caption1">
                            <h4>@item.ITEM_NAME</h4>
                            <p>@item.INGREDIENT</p>
                            <p>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.SMALL_ID" class="label label-default" rel="tooltip" title="@item.SMALL_PRICE £">Add</a>                                @*<a href="" class="label label-default" rel="tooltip" title="Download now">Download</a>*@
                            </p>
                        </div>
                        <img src="~/Content/@(item.ITEM_ID).png" alt="..." width="200" height="200">
                    </div>
                </div>
        }
    }
    else if (Request.Url.AbsoluteUri == "http://localhost:62750/ITEMs/Index/4")
    {
        if (item.ITEM_TYPE == "DRINK")
        {
                <div class="col-md-3">
                    <div class="thumbnail1">
                        <div class="caption1">
                            <h4>@item.ITEM_NAME</h4>
                            <p>@item.INGREDIENT</p>
                            <p>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.SMALL_ID" class="label label-default" rel="tooltip" title="@item.SMALL_PRICE £">330 ml</a>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.MEDIUM_ID" class="label label-default" rel="tooltip" title="@item.MEDIUM_PRICE £">500 ml</a>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.LARGE_ID" class="label label-default" rel="tooltip" title="@item.LARGE_PRICE £">1.5 L</a>                                
                            </p>
                        </div>
                        <img src="~/Content/@(item.ITEM_ID).png" alt="..." width="200" height="200">
                    </div>
                </div>
        }

    }
    else if (Request.Url.AbsoluteUri == "http://localhost:62750/ITEMs/Index/5")
    {
        if (item.ITEM_TYPE == "DEAL")
        {
                <div class="col-md-3">
                    <div class="thumbnail1">
                        <div class="caption1">
                            <h4>@item.ITEM_NAME</h4>
                            <p>@item.INGREDIENT</p>
                            <p>
                                <a href="http://localhost:62750/ShoppingCart/OrderNow/@item.SMALL_ID" class="label label-default" rel="tooltip" title="@item.SMALL_PRICE £">Add Deal</a>

                            </p>
                        </div>
                        <img src="~/Content/@(item.SMALL_ID).png" alt="..." width="300" height="200">
                    </div>
                </div>
        }
    }
}
</div>
   
