﻿@*@model TestApp.Models.CUSTOMER
@using TestApp.Controllers*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>

<body>    
    <header>
        @if (Session["CustomerId"] != null)
        {
            @*<h1>@Session["NAME"]</h1>*@
            <div id="top-nav">
                <nav class="navbar navbar-default ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2 col-sm-4">
                                <input type="hidden" name="data-store-id" value="" />
                                <div class="visible-sm visible-lg visible-md">
                                    <ul class="nav nav-pills">
                                        <li><h3><a class="btn btn-info" href="http://localhost:62750/ORDER_HISTORY/Index">@Session["NAME"]</a></h3></li>

                                        @*<li>
                                            <p class="btn btn-info">
                                                @Html.ActionLink("Logout", "Logout", "CUSTOMERs")
                                            </p>
                                        </li>*@
                                        <li>
                                             <h3><a class="btn btn-info" href="http://localhost:62750/CUSTOMERs/Logout">Logout</a></h3>
                                        </li>
                                        <li>
                                            @{
                                                if (Session["Track"] != null)
                                                {
                                                    <h3><a class="btn btn-info" href="http://localhost:62750/MAIN_ORDER/Track">Track</a></h3>
                                                } }
                                        </li>
                                        @*<li><a class="btn btn-info" onclick="Logout">Sign Out</a></li>*@

                                    </ul>
                                </div>
                                <div class="visible-xs">
                                    <button id="toggle-left-canvas" type="button" class="navbar-toggle"></button>
                                </div>
                            </div><div class="col-xs-8 col-sm-4">
                                <a href="http://localhost:62750/">
                                    <img class="img" src="~/Content/Logo.png" width="250" height="90">
                                </a>
                            </div>
                            @if (Session["BusketItems"] != null)
                            {
                                <div class="visible-sm visible-lg visible-md">
                                    <div class="nav nav-pills">
                                        <font size="4">(@Session["BusketItems"])</font>
                                        @*<a href=@Session["URL"]>*@
                                        <a href="http://localhost:62750/ShoppingCart/Busket">
                                            <img class="img" src="~/Content/cart-icon-14.png" width="60" height="60">
                                        </a>

                                        <font size="4">@Session["Total"]£</font>


                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="visible-sm visible-lg visible-md">
                                    <div class="nav nav-pills">
                                        <font size="4">(0)</font>
                                        @*<a href=@Session["URL"]>*@
                                        <a href="http://localhost:62750/ShoppingCart/Busket">
                                            <img class="img" src="~/Content/cart-icon-14.png" width="60" height="60">
                                        </a>

                                        <font size="4">@Session["Total"]£</font>


                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </nav>
            </div>
        }

    
        
        else
        {
        <div id="top-nav">
            <nav class="navbar navbar-default ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-sm-4">
                            <input type="hidden" name="data-store-id" value="" />
                            <div class="visible-sm visible-lg visible-md">
                                <ul class="nav nav-pills">
                                    <li><h3><a class="btn btn-info" href="http://localhost:62750/CUSTOMERs/Login">Sign In</a></h3></li>
                                    <li><h3><a class="btn btn-info" href="http://localhost:62750/CUSTOMERs/Create">Create Account</a></h3></li>

                                </ul>
                            </div>
                            <div class="visible-xs">
                                <button id="toggle-left-canvas" type="button" class="navbar-toggle"></button>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-4">
                            <a href="http://localhost:62750/">
                                <img class="img" src="~/Content/Logo.png" width="250" height="90">
                            </a>
                        </div>
                        @if (Session["BusketItems"] != null)
                        {
                            <div class="visible-sm visible-lg visible-md">
                                <div class="nav nav-pills">
                                    <font size="4">(@Session["BusketItems"])</font>
                                    @*<a href=@Session["URL"]>*@
                                    <a href="http://localhost:62750/ShoppingCart/Busket">
                                        <img class="img" src="~/Content/cart-icon-14.png" width="60" height="60">
                                    </a>

                                    <font size="4">@Session["Total"]£</font>


                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="visible-sm visible-lg visible-md">
                                <div class="nav nav-pills">
                                    <font size="4">(0)</font>
                                    @*<a href=@Session["URL"]>*@
                                    <a href="http://localhost:62750/ShoppingCart/Busket">
                                        <img class="img" src="~/Content/cart-icon-14.png" width="60" height="60">
                                    </a>

                                    <font size="4">@Session["Total"]£</font>


                                </div>
                            </div>
                        }
                        @*<div class="alert alert-info alert-autocloseable-info">
                            I'm an autocloseable info message.
                             I will hide in 6 seconds.
                        </div>*@

                    </div>
                </div>
            </nav>
        </div>
        }



        <div id="page">
            <div class="container ">
                <div class="hidden-xs">
                    <div class="btn-group btn-group-justified btn-group-lg">
                        <a class="btn btn-default disable-multi-click" href="~/ITEMs/Index/1" title="Pizza">Pizza</a>
                        <a class="btn btn-default disable-multi-click" href="~/ITEMs/Index/3" title="Sides">Sides</a>
                        <a class="btn btn-default disable-multi-click" href="~/ITEMs/Index/4" title="Drinks">Drinks</a>
                        <a class="btn btn-default disable-multi-click" href="~/ITEMs/Index/2" title="Desserts">Desserts</a>
                        <a class="btn btn-default disable-multi-click" href="~/ITEMs/Index/5" title="Deals">Deals</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

        @*</div>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
        @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@
        @*</div>
                </div>
            </div>
            </nav>*@
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p> @DateTime.Now.Year - PRCS Group K</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
