﻿@model TestApp.Models.MAIN_ORDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MAIN_ORDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORDER_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_COMMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_COMMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERIFICATION_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERIFICATION_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORDER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
