﻿@model IEnumerable<TestApp.Models.MAIN_ORDER>
@{
    ViewBag.Title = "Track";
}



@foreach (var item in Model)
{
    if (item.CUSTOMER_ID == Session["CustomerId"].ToString())
    {
        <center> Your Verification Code is:  </center>
        <center style="color:blue;">
            <h3>@item.VERIFICATION_CODE.ToString()</h3>
        </center>
        <center>Please give this code to the delevery once arrived</center>
        <p><font color="white">.</font></p>
        <p><font color="white">.</font></p>
        <center><h3>Order Tracking</h3></center>

        if (item.ORDER_STATUS == "IN PROGRESS")
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail">
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">IN PROGRESS</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">BEING PREPARED</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">READY FOR COLLECTION</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">ON WAY</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">DELIVERED</h4>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        }
        else if (item.ORDER_STATUS == "BEING PREPARED" || item.ORDER_STATUS == "FOOD READY")
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail">
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">IN PROGRESS</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">BEING PREPARED</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">READY FOR COLLECTION</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">ON WAY</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">DELIVERED</h4>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        }

        else if (item.ORDER_STATUS == "READY FOR COLLECTION" )
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail">
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">IN PROGRESS</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">BEING PREPARED</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">READY FOR COLLECTION</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">ON WAY</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">DELIVERED</h4>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (item.ORDER_STATUS == "COLLECTED")
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail">
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">IN PROGRESS</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">BEING PREPARED</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">READY FOR COLLECTION</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">ON WAY</h4>

                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <h4 class="list-group-item-heading">DELIVERED</h4>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else 
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail">
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">IN PROGRESS</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">BEING PREPARED</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">READY FOR COLLECTION</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">ON WAY</h4>

                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <h4 class="list-group-item-heading">DELIVERED</h4>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
                
               Session["Track"].Equals(null);

            

        }
        <meta http-equiv="refresh" content="5">

    }
}


