﻿@model TestApp.Models.ORDER_DETAIL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ORDER_DETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTALCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTALCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM.ITEM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM.ITEM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORDER_DETAIL_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
