﻿@model IEnumerable<TestApp.Models.ORDER_DETAIL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIT_PRICE)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TOTALCOST)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ORDER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM.ITEM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIT_PRICE)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TOTALCOST)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM.ITEM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ORDER_DETAIL_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ORDER_DETAIL_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ORDER_DETAIL_ID })
        </td>
    </tr>
}

</table>
