﻿@model TestApp.Models.CUSTOMER

@{
    ViewBag.Title = "ChangePass";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="form-group">
                @Html.Label("Old Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Password("password1", "", new { id = "password1", Textmode = "Password" })
                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("password", "", new { id = "password", Textmode = "Password" })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Re-Enter New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("newpassword", "", new { id = "newpassword", Textmode = "Password" })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Save", "ChangePass", new { pass = })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index", "ORDER_HISTORY")
</div>
