﻿@*@using System.Diagnostics.Eventing.Reader
@using System.Globalization*@
@using System.Configuration
@using TestApp.Controllers

<h2>Cart</h2>





<body>
    @*<table class="table-responsive table-bordered table-striped">
        <tr>
            <th>
            Name
            </th>
            <th>
            Price
            </th>
            <th>
            Quantity
            </th>
            <th>
            Sub Total
            </th>
        </tr>
        @foreach (CartItem item in (List<CartItem>)Session["cart"])
        {
            <tr>
                <td>
                @item.Pr.PIZZA_NAME
                 </td>
                <td>
                @item.Pr.UNIT_PRICE
                </td>
                <td>
                @item.Quantity
                 </td>
                <td>
                @(item.Pr.UNIT_PRICE * item.Quantity )
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                </td>
                <td>
                    <h3>
                        @Html.ActionLink("+", "AddQt", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                        </h3>
                </td>
                <td>
                    <h3>
                   @Html.ActionLink("-", "RemoveQt", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                </h3>
                </td>
                <td>
                   
                </td>
                
            </tr>



        }

    </table>*@

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th>Product</th>
                            <th>Quantity</th>
                            <th></th>
                            <th></th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>

                    


                    <tbody>
@foreach (CartItem item in (List<CartItem>)Session["cart"])
{
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/Content/@(item.Pr.ITEM_ID).png"  style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@item.Pr.ITEM_NAME</a></h4>
                                        
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="email" class="form-control" id="exampleInputEmail1" value="@item.Quantity">
                            </td>
                            @if (item.Quantity == 1) { 
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn disabled">
                                     @Html.ActionLink("-", "RemoveQt", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                                </button>
                                
                            </td>
                            }
                            else
                            {
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn">
                                        @Html.ActionLink("-", "RemoveQt", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                                    </button>

                                </td>
                            }
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn">
                                     @Html.ActionLink("+", "AddQt", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                                </button>

                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Pr.UNIT_PRICE</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@(item.Pr.UNIT_PRICE * item.Quantity )</strong></td>
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.Pr.SIZE_ID }, null)
                                </button>

                            </td>
                            
                        </tr>
                        
                        }

                        
                        

                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>@Session["Total"]£</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                
                            </td>
                            <td>
                                @if (Session["CustomerId"] != null)
                                {
                                    <form method="post" action="@ConfigurationManager.AppSettings["PayPalSubmitUrl"]">

                                        <input type="hidden" name="upload" value="1" />
                                        <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["returnurl"]" />
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["PayPalUsername"]" />


                                        @{int i = 1;
                                            foreach (CartItem item in (List<CartItem>)Session["cart"])
                                            {
                                                <input type="hidden" name="item_name_@i" value="@item.Pr.ITEM_NAME" />
                                                <input type="hidden" name="item_number_@i" value="@item.Pr.SIZE_ID" />
                                                <input type="hidden" name="amount_@i" value="@item.Pr.UNIT_PRICE" />
                                                <input type="hidden" name="quantity_@i" value="@Convert.ToInt32(item.Quantity)" />
                                                i++;
                                            }
                                        }
                                        <input type="hidden" name="hosted_button_id" value="PBWENKJK22G5N">

                                        <input type="image" src="https://www.sandbox.paypal.com/en_US/GB/i/btn/btn_xpressCheckout.gif">

                                    </form>
                                            }
                                            else
                                            {
                                                <h4>You have to Log In to complete the payment</h4>
                                            }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>